.custom-header {
  --background: #ffffff !important;
  box-shadow: none;
  border-bottom: none;
  padding: 0 16px;

  ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0;
    padding-top: 10px;
    text-align: left;
  }

  .logo-img {
    height: 40px; // más grande
    max-width: 100px;
    object-fit: contain;
  }

  .header-buttons {
    display: flex;
    align-items: center;
  }

  .avatar-container {
    display: flex;
    align-items: center;
    gap: 0;
    margin-left: 0px;
    padding: 0;
  }
  
  .notification-button,
  .profile-btn {
    margin: 0 !important;
    padding: 0 !important;
    min-width: auto;
  }
  
  .notification-button {
    position: relative;
    width: 34px;       // antes 30-32px, más compacto
    height: 34px;      // más pequeño
    min-width: auto;   // evita que sea mínimo 44px por defecto de Ionic
    padding: 2 !important;
    transform: translateY(12px);
    background: transparent;
    border-radius: 100%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
  
    ion-icon {
      font-size: 80px;  // reduce el ícono también si es necesario
      color: #b30000;
    }
  
  }
  
  .badge-notificacion {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #ff3b30;
    color: #fff;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
    z-index: 5;
  }
  
  .profile-avatar {
    width: 35px !important;
    height: 35px !important;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -10px;
  }
}