// Cuerpo
.inicio-content {
  --background: #ffffff;

  .inicio-container {
    padding: 10px 16px;

    .search-bar {
      display: flex;
      align-items: center;
      background-color: #fff;
      border: 2px solid #b30000;
      border-radius: 25px;
      padding: 8px 12px;
      margin: 16px 0;

      .search-icon {
        font-size: 20px;
        color: #b30000;
        margin-right: 8px;
      }

      input {
        border: none;
        outline: none;
        flex: 1;
        font-size: 16px;
      }
    }

    .card {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;  // Para que imagen y texto se alineen bien
      background-color: #f9f9f9;
      padding: 12px;
      margin: 10px 0;
      border-radius: 12px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

      .card-left {
        flex: 1;
        margin-right: 15px;  // Espacio entre texto e imagen
        min-width: 0;        // Permite que texto se reduzca y no fuerce ancho

        h3 {
          margin: 0;
          font-size: 16px;
          font-weight: bold;
        }

        p {
          margin: 4px 0;
          font-size: 14px;
        }

        .descripcion {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          white-space: normal;
          max-height: 40px; /* Limita la altura (aprox 2 líneas) */
          margin-top: 4px;
          color: #555;
          font-size: 14px;
        }
        .heart-btn {
          margin-top: 10px;
          padding: 0;
          height: auto;
        }
      }

      .card-right {
        flex-shrink: 0;  // evita que la imagen se reduzca

        img.publicacion-img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 10px;
          display: block;
        }
      }
    }
  }
}

//Boton filtro
.select-categoria-item {

  margin-right: 210px;
}

.select-categoria-label {
  font-size: 16px;
}

.select-categoria {
  
  font-size: 16px;
}
