ion-content {
  --background: #7b0a0a; /* Fondo rojo */
  color: white;
}

.contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // centra verticalmente también
}

.logo-img {
  max-width: 60%;
  height: auto;
}
