ion-content {
  --background: #7a0000; /* Fondo rojo */
  color: white;
}

.contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  font-size: 2.2rem;
  font-family: 'Impact', 'Arial Black', sans-serif;
  color: white; /* Letras blancas */
  margin: 0;
  padding: 0;
  text-align: center;
}
