<ion-content class="ion-padding forgot-content">
  <div class="forgot-container">
    <h1 class="logo">MYJOBIFY</h1>
    <h2 class="forgot-title">Recuperar Contraseña</h2>

    <form [formGroup]="resetForm" (ngSubmit)="onReset()" class="forgot-form">
      <ion-input
        type="email"
        placeholder="Ingresa tu correo"
        formControlName="email"
        class="custom-input"
        required
      ></ion-input>

      <ion-button expand="block" type="submit" [disabled]="!resetForm.valid" class="gradient-button">
        Enviar Correo
      </ion-button>

      <ion-button expand="block" fill="clear" color="medium" routerLink="/auth">
        Volver atrás
      </ion-button>
    </form>
  </div>
</ion-content>
