.forgot-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #fff;
}

.forgot-container {
  width: 100%;
  max-width: 320px;
  margin: auto;
  text-align: center;
}

.logo {
  margin-top: 150px;
  font-family: 'Impact', 'Arial Black', sans-serif;
  font-size: 3.5rem;
  color: #a10000;
  margin-bottom: 0.5rem;
}

.forgot-title {
  color: #a10000;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.custom-input {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  margin: 8px 0;
  width: 100%;
  background: #fff;
  font-size: 14px;
}

ion-input::part(native) {
  padding: 0 10px;
}

.gradient-button {
  --background: linear-gradient(to right, #ff7e91, #a10000);
  --color: white;
  border-radius: 20px;
  margin-top: 10px;
  font-weight: bold;
}
