<ion-header></ion-header>

<ion-content class="ion-padding">


  <div style="position: absolute; top: 16px; left: 16px; z-index: 10;">
    <ion-button fill="clear" size="small" (click)="goBack()">
      <ion-icon name="arrow-back-outline" slot="icon-only" style="color: #8b0000; font-size: 24px;"></ion-icon>
    </ion-button>
  </div>


  <div style="text-align: center; padding-top: 40px;">
    <h1 style="font-weight: bold; font-size: 24px; color: #a00101;">Términos y condiciones</h1>
  </div>

  <div style="text-align: justify; max-width: 700px; margin: 0 auto; padding: 20px; font-size: 16px; line-height: 1.6; color: #b30000;">
    <p>
      El usuario acepta estos términos y condiciones de uso. APT es una plataforma móvil que permite a las personas publicar y acceder a trabajos informales como pintar, lavar autos, hacer jardinería, entre otros.
    </p>
    <p>
      Para registrarse en la app, se requiere que el usuario proporcione información personal real y verificable, como su RUT, nombre completo, número de celular, dirección y otros datos necesarios para garantizar la seguridad y confiabilidad del servicio. El uso de información falsa está estrictamente prohibido.
    </p>
    <p>
      El usuario se compromete a utilizar la aplicación de manera responsable, respetuosa y únicamente para fines lícitos. Cualquier intento de fraude, conducta abusiva o comportamiento que atente contra otros usuarios podrá resultar en la suspensión o eliminación de la cuenta sin previo aviso.
    </p>
    <p>
      La aceptación de cualquier cambio en los términos y condiciones se considerará tácita si el usuario continúa utilizando la aplicación después de que dichos cambios hayan sido publicados. APT se reserva el derecho de modificar estos términos en cualquier momento, y es responsabilidad del usuario revisar periódicamente esta sección para mantenerse informado. Si el usuario no está de acuerdo con los cambios, deberá dejar de utilizar la plataforma y solicitar la eliminación de su cuenta.
    </p>
    <br>
  </div>


</ion-content>


<!-- Footer -->
<app-footer></app-footer>