<ion-content class="ion-padding login-content">
  <div class="login-container">

    <!-- Imagen centrada -->
    <div class="logo-img-container">
      <img src="assets/2.png" alt="Logo MyJobify" class="logo-img" />
    </div>

    <!-- Título -->
    <h2 class="login-title">Iniciar sesión</h2>

    <!-- Formulario -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <ion-input
        formControlName="email"
        placeholder=" Ingrese su correo"
        type="text"
        class="custom-input"
      ></ion-input>

      <ion-input
        formControlName="password"
        placeholder=" Ingrese su contraseña"
        type="password"
        class="custom-input"
      ></ion-input>

      <!-- Recordarme y Olvidé mi contraseña en una fila -->
      <div class="login-options">
        <div class="remember-me">
          <ion-checkbox formControlName="rememberMe" name="rememberMe" class="green-checkbox"></ion-checkbox>
          <ion-label>Recordarme</ion-label>
        </div>
        <div class="forgot-password">
          <a routerLink="/forgot-password">Olvidé mi contraseña</a>
        </div>
      </div>

      <!-- Texto cuenta -->
      <div class="register-text" routerLink="/register">
        <p>¿No tienes cuenta?</p>
      </div>

      <!-- Botón iniciar sesión -->
      <ion-button
        expand="block"
        type="submit"
        [disabled]="!loginForm.valid"
        class="gradient-button"
      >
        Iniciar sesión
      </ion-button>
    </form>
  </div>
</ion-content>
