.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo-img {
  margin-top: 70px;
  width: 220px;
  height: auto;
  border-radius: 12px;
}

.login-title {
  text-align: center;
  margin-top: 30px;
  color: #7b0a0a;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.custom-input {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  margin: 8px 0;
  width: 100%;
  background: #fff;
  font-size: 14px;
}

.ion-input:part(native) {
  padding: 0 10px;
}

.forgot-password {
  text-align: left;
  margin-top: 6px;
  margin-bottom: 4px;
}

.green-checkbox {
  --checkbox-background-checked: #28a745; // verde
  --checkbox-border-color-checked: #28a745;
  --checkbox-color: white;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 0.9rem;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.forgot-password a {
  color: #7b0a0a;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
}

.register-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 6px;
}

.register-text p {
  color: #7b0a0a;
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
  margin: 0;
}

.gradient-button {
  --background: linear-gradient(to right, #f18595, #7b0a0a);
  --color: white;
  border-radius: 20px;
  margin-top: 10px;
  font-weight: bold;
}
