<ion-content class="ion-padding login-content">
  <div class="login-container">
    <!-- Logo -->
    <h1 class="logo">MYJOBIFY</h1>

    <!-- Título -->
    <h2 class="login-title">Iniciar sesión</h2>

    <!-- Formulario -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <ion-input
        formControlName="email"
        placeholder="Ingresar correo"
        type="text"
        class="custom-input"
      ></ion-input>

      <ion-input
        formControlName="password"
        placeholder="Ingresar contraseña"
        type="password"
        class="custom-input"
      ></ion-input>

      <!-- Enlace contraseña -->
      <div class="forgot-password">
        <a routerLink="/forgot-password">Olvide mi contraseña</a>
      </div>

      <!-- Texto cuenta -->
      <div class="register-text"
      routerLink="/register">
        <p>¿No tienes cuenta?</p>
      </div>

      <!-- Botón iniciar sesión -->
      <ion-button
        expand="block"
        type="submit"
        [disabled]="!loginForm.valid"
        class="gradient-button"
      >
        Iniciar sesión
      </ion-button>
    </form>
  </div>
</ion-content>