<ion-header></ion-header>



<ion-content class="ion-padding">


  <div style="position: absolute; top: 16px; left: 16px; z-index: 10;">
    <ion-button fill="clear" size="small" (click)="goBack()">
      <ion-icon name="arrow-back-outline" slot="icon-only" style="color: #8b0000; font-size: 24px;"></ion-icon>
    </ion-button>
  </div>


  <div style="text-align: center; padding-top: 40px;">
    <h1 style="font-weight: bold; font-size: 24px; color: #a00101;">Privacidad y seguridad</h1>
  </div>

  <div style="text-align: justify; max-width: 700px; margin: 0 auto; padding: 20px; font-size: 16px; line-height: 1.6; color: #b30000;">
    <p>
      Tu seguridad y la protección de tus datos personales son muy importantes para nosotros(tus datos son totalmente privados).
      Cuando te registras en nuestra app, te pedimos información como tu RUT, nombre completo, número de celular, dirección y otros datos personales. Esta información nos permite verificar tu identidad y ayudarte a conectar con otras personas de forma segura para publicar u ofrecer trabajos informales como pintar, lavar autos, hacer jardinería, entre otros.
    </p>

  </div>

</ion-content>


<!-- Footer -->
<app-footer></app-footer>